services:
  app:
    build: .
    container_name: video-service
    ports: ["8080:8080"]
    depends_on: [mysql, redis, etcd]
    volumes: [ ./configs:/root/configs, ./logs:/root/logs ]
    
  mysql:
    image: mysql:8
    environment: { MYSQL_ROOT_PASSWORD: 123456, MYSQL_DATABASE: video_service }
    ports: ["3306:3306"]

  redis:
    image: redis:7
    ports: ["6379:6379"]

  etcd:
    image: bitnami/etcd:latest
    environment: ["ALLOW_NONE_AUTHENTICATION=yes", "ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379"]
    ports: ["2379:2379"]

  prometheus:
    image: prom/prometheus:latest
    ports: ["9090:9090"]
    volumes: [ ./configs/prometheus.yml:/etc/prometheus/prometheus.yml ]
